@use "../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @include transition-200;

  opacity: 1;
}

.arrow {
  translate: 10%;
}

.contacts {
  font-size: var(--fs-200);
}

@media (max-width: $bp-medium) {
}

@media (max-width: $bp-small) {
  .header {
    &--disabled {
      opacity: 0;
    }
  }
}
