@use "../../../../shared/lib/stylesheets/" as *;


.project,
.contents,
.article {
  gap: $ui-step * 5;
}

.project,
.contents,
.heading,
.article {
  display: flex;
}

.project {
  flex-direction: column;
}

.heading {
  align-items: center;
  justify-content: space-between;

  font-size: $fs-300;
  font-weight: $bold;
}

.contents {
  & > * {
    flex: 1;
  }
}

.article {
  flex-direction: column;
}

.description {
  font-size: $fs-100;
  text-align: justify;
}

.demo {
  display:inline;

  transform-origin: center center;

  @include z-index-overlay;

  margin-left: auto;

  &:empty {
    display: none;
  }
}

.links {
}
