@use "../../../../shared/lib/stylesheets/" as *;

.project,
.contents,
.article {
  gap: calc(var(--ui-step) * 4);
}

.project,
.contents,
.heading,
.article {
  display: flex;
}

.project {
  flex-direction: column;
}

.heading {
  align-items: center;
  justify-content: space-between;

  gap: calc(var(--ui-step) * 4);

  font-size: var(--fs-300);
  font-weight: $bold;
}

.title {
  max-width: 80%;
}

.contents {
  & > * {
    flex: 1;
  }
}

.article {
  flex-direction: column;
}

.description {
  font-size: var(--fs-100);
  text-align: justify;
}

.demo {
  display: inline;

  transform-origin: center center;

  @include z-index-overlay;

  margin-left: auto;

  &:empty {
    display: none;
  }
}

@media (max-width: $bp-medium) {
  .contents {
    flex-direction: column;
  }

  .demo {
    pointer-events: none;
    margin-inline: auto;
  }
}

@media (max-width: $bp-small) {
  .demo {
    display: none;
  }
}
