@use "../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../../shared/lib/stylesheets/components/" as *;

.filter-bar {
  font-size: var(--fs-300);

  min-height: calc(var(--ui-step) * 6);
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}

.counter {
}
