@use "../../../../shared/lib/stylesheets/components/" as *;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

.typing {
  @include scroll-snap-section(start);
  @include scroll-snap-element;

  margin-right: auto;
}

.padded-wrapper {
  margin-top: $heading-height * 2;
}

.skill-scales {
  @include scroll-snap-section;
  @include scroll-snap-element;

  width: 100%;
}
