@use "../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

.codeicon {
  fill: $textColor;

  @include transition-200;

  &:hover {
    fill: $secondaryButtonColor;

    rotate: 30deg;
  }
}
