@use "../../lib/stylesheets/scale.module.scss" as s;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

.scale {
  position: relative;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;

  background-size: 100%; /* Scale the image to cover the entire container */
  background-position: center; /* Position the image at the center of the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */

  clip-path: polygon(
    50% 0,
    100% s.$corner-cut,
    100% (100% - s.$corner-cut),
    50% 100%,
    0 (100% - s.$corner-cut),
    0 s.$corner-cut
  );

  @include transition-100;

  cursor: pointer;

  &:hover {
    background-size: 110%;
  }
}

.heading,
.description {
  display: none;
}

.heading {
}

.description {
}
