.scale {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid white;

  padding: 1em;
}

.heading,
.description {
  display: none;
}

.heading {
}

.description {
}
