@use "../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

$desktop-width: 100%;

.wrapper,
.demo {
  @include transition-300(ease-in-out);
}

.wrapper {
  display: flex;
  justify-content: center;

  position: relative;

  @include z-index-modal;

  will-change: transform;
}

.demo {
  border: 0.25em solid $textColor;

  &--desktop,
  &--mobile {
  }

  &--desktop {
    width: $desktop-width;
    max-width: $desktop-width;

    border-radius: 0.5em;
  }

  &--mobile {
    width: $desktop-width * 0.5;
    max-width: $desktop-width * 0.5;

    border-radius: 1em;
  }

  &--disabled {
    border-color: $accentColor;
  }
}
