@use "../../shared/lib/stylesheets/mixins/" as *;
@use "../../shared/lib/stylesheets/components/" as *;

.home {
  display: flex;
  flex-direction: column;

  gap: $ui-step * 2;
}

.projects {
  @include content-width;
}

.hero {
  @include padded-half-content-width(100px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $ui-step * 10;
}
