@use "../../shared/lib/stylesheets/mixins/" as *;
@use "../../shared/lib/stylesheets/components/" as *;
@use "../../shared/lib/stylesheets/abstracts/" as *;

.home {
  display: flex;
  flex-direction: column;

  gap: calc(var(--ui-step) * 2);
}

.projects {
  @include content-width;
}

.hero {
  @include padded-half-content-width(100px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--ui-step) * 10);
}

@media (max-width: $bp-medium) {
}

@media (max-width: $bp-small) {
  .hero {
    @include padded-half-content-width(0px);
  }
}
