@use "../../../../shared/lib/stylesheets/mixins/" as *;
@use "../../../../shared/lib/stylesheets/components/" as *;
@use "../../consts/scss/animation.module.scss" as a;
@use "../../consts/scss/pattern-size.module.scss" as p;

.container,
.effect,
.bottom {
  position: absolute;

  @include z-index-background;
}

.container,
.bottom {
  @include transition-300;
}

.container {
  // display: flex;
  // flex-direction: column;

  transform: translateY(p.$pattern-height * -1px);

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;

  &--active {
    opacity: 1;
  }
}

.effect {
  $full-translation: 25%;

  transition-property: all;
  transition-timing-function: linear;

  transform-origin: center center;

  will-change: transform;

  &--flipped {
    rotate: 180deg;
  }

  &--left {
    left: calc($full-translation * -1 + $body-padding-block);
    // margin-right: auto;
  }

  &--right {
    right: calc($full-translation * -1 + $body-padding-block);
    // margin-left: auto;
  }

  // &--center {
  //   left: 50%;
  //   transform: translateX(50%);
  // }
}

.bottom {
  display: flex;
  align-items: end;

  transform: translateY(300px);

  left: calc((-100% - 400px));
  bottom: 0;

  @include z-index-bottom;
  // transform: translateY($padding-translation);

  &--active {
    left: 0;
  }
}
