@use "../../../../shared/lib/stylesheets" as *;

.typing {
  font-family: $codeFontFamily;
  font-size: var(--fs-400);

  text-align: start;

  &::after {
    content: "placeholder text";

    display: block;

    opacity: 0;

    user-select: none;
  }
}

