@use "../../../../shared/lib/stylesheets/components/" as *;
@use "../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../../shared/lib/stylesheets/mixins/" as *;

.project-list {
  $list-gap: $ui-step * 15;

  display: grid;
  gap: $list-gap;

  margin: $list-gap auto;
}

.project-section {
  @include scroll-snap-section;
  @include scroll-snap-element;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
