@use "../../lib/stylesheets/abstracts/" as *;

$button-size: 40px;

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $textColor;

  background-color: $buttonColor;

  aspect-ratio: 1;

  padding: 0.25em;

  border-radius: 50%;

  width: $button-size;

  outline: none;
  border: none;
}
