@use "../../../../shared/lib/stylesheets/components/" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $ui-font-step * 4;
}

.skill-scales {
  min-width: 300px;
  width: 800px;

  margin-inline: auto;
}
