@use "../../../../shared/lib/stylesheets/components/" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ui-step) * 4);

  align-items: center;

  max-width: 100%;
}

.skill-scales {
  min-width: 300px;
  width: calc(var(--ui-step) * 90);
}
