$link-width: 50px;

.link-group {
  display: flex;
  gap: 0.5em;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  max-width: $link-width;
  min-width: $link-width;

  aspect-ratio: 1;

}
