@use "../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../shared/lib/stylesheets/mixins/" as *;

.separator {
  display: block;

  border: 1px solid $textColor;

  width: 100%;

  &--dotted {
    $dots-gap: 0.5em;

    margin: 1.5em 0;
    text-align: center;
    border: none;

    &:hover {
      &::before {
        translate: calc((200% + $dots-gap));
      }

      &::after {
        translate: calc((200% + $dots-gap) * -1);
      }
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $textColor;
      margin: 0 $dots-gap;

      @include transition-200;
    }

    &::before {
    }

    &::after {
    }
  }

  &--lined {
    max-height: 0px;
    height: 0px;
  }
}
