@use "../../../../../shared/lib/stylesheets/abstracts/" as *;
@use "../../../consts/scss/animation.module.scss" as *;

.circle {
  g {
    stroke: $accentColor;
    stroke-width: 3;
  }

  circle {
    animation: bubble #{$bubble-animation-speed}s infinite;
    // animation-timing-function: ease-in-out;

    will-change: translate;
  }
}

@keyframes bubble {
  $bubbleTranslation: $bubble-max-x-translation * 1%;

  0% {
    translate: $bubbleTranslation;
  }

  50% {
    translate: $bubbleTranslation * -0.5;
  }

  100% {
    translate: $bubbleTranslation;
  }
}
